* {
  font-family: "Poppins", sans-serif;
  font-style: normal, italic;
  font-weight: 400, 500, 600, 700;
}

body {
  background-color: #edeee8;
  padding: 16px;
  margin-bottom: 48px;
}

.center {
  padding: 122px 0;
  text-align: center;
}

.graduation-picture {
  border-radius: 100%;
  height: 350px;
}

button a {
  color: #198753;
}

button a:hover,
#bottom button:hover {
  color: #edeee8;
  background-color: #198753;
}

.row {
  width: 100%;
}

a {
  text-decoration: none;
}

.card-icon {
  width: 150px;
}

/*Fixed Button*/
#bottom button {
  background-color: #edeee8;
  position: fixed;
  right: 10%;
  bottom: 10%;
  z-index: 1000;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  filter: progid: dximagetransform.microsoft.basicimage(rotation=3);
  text-align: center;
  text-decoration: none;
}
